/NetBeansProjects/ClassRoster/target/
/NetBeansProjects/ClassRoster/nbproject/
/NetBeansProjects/StatelessUnitTesting/target/
/NetBeansProjects/StatelessUnitTesting/nbproject/
/NetBeansProjects/MonstrousDaoTestingLab/nbproject/
/NetBeansProjects/MonstrousDaoTestingLab/target/